<div class="container">



  <div class="row justify-content-center">

    <div class="col-12">

      <form>

        <div class="form-group">
          <label for="">Subir Imagen</label>
          <input class="form-control-file" type="file" (change)="changeInput($event)">
        </div>


        <button class="btn btn-primary" (click)="subirImagen()">Subir a S3</button>

      </form>
    </div>

    <div class="col-12" *ngIf="imagenDeS3">
      <img class="img-fluid" [src]="imagenDeS3" alt="IMAGEN DESDE S3">
    </div>


  </div>


</div>